appdirs==1.4.4
applicationinsights==0.11.9
asgiref==3.2.10
Authlib==0.15
backcall==0.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cloudpickle==1.5.0
colorama==0.4.3
contextlib2==0.6.0.post1
cryptography==3.1.1
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
distlib==0.3.1
Django==3.1.2
django-extensions==3.0.9
filelock==3.0.12
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
MarkupPy==1.14
odfpy==1.4.1
parso==0.7.1
pbr==5.5.0
pickleshare==0.7.5
pipenv==2020.8.13
prompt-toolkit==3.0.7
pycparser==2.20
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pyzmq==19.0.2
requests==2.24.0
simple-salesforce==1.10.1
six==1.15.0
sqlparse==0.4.1
stevedore==3.2.2
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.10
virtualenv==20.0.34
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
xlrd==1.2.0
