
<!-- 
<table>
  <thead>
    <tr>
      <td>
        Sales Organisation
      </td>
      <td>
        Importing Zone
      </td>
      <td>
        Sold To
      </td>
      <td>
       Ship To
      </td>
      <td>
        Ship to Name
      </td>
      <td>
        Ship to Country
      </td>
      <td>
        Ship Condition
      </td>
      <td>
        Payer
      </td>
      <td>
        Payer Name
      </td>
      <td>
        Profit Center
      </td>
      <td>
        Incoterms
      </td>
      <td>
        Currency
      </td>
      <td>
        Attributes
      </td>
    </tr>
  </thead>
  <tbody>
    {% for msg in db_data %}
      <tr>
        <td>
          {{msg.salesorg}}
        </td>
        <td>
          {{msg.importzone}}
        </td>
        <td>
          {{msg.soldto}}
        </td>
        <td>
          {{msg.shipto}}
        </td>
        <td>
          {{msg.shiptoname}}
        </td>
        <td>
          {{msg.shiptocountry}}
        </td>
        <td>
          {{msg.shipcond}}
        </td>
        <td>
          {{msg.payer}}
        </td>
        <td>
          {{msg.payername}}
        </td>
        <td>
          {{msg.profitcen}}
        </td>
        <td>
          {{msg.incoterm}}
        </td>
        <td>
          {{msg.currency}}
        </td>
        <td>
          {{msg.attri}}
        </td>
        
      </tr>
      {% endfor %}
  </tbody>
</table> -->
